<div class="row mt-5" style="margin-left: 0px; margin-right: 0px; padding-left: 50px; padding-right: 0px;">
    <% if (error.length > 0) { %>
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <%= error %>.
          </div>
    <% } %>
    <div class="col-5">
        <h1>Edit Profile</h1>
        <form method="POST" action="/?_method=PUT">
            <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <div class="row">
                    <input type="text" class="form-control" placeholder="E-mail" name="email" aria-describedby="emailHelp" value="<%= user.email %>" readonly>
                </div>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Nama</label>
                <div class="row">
                    <input type="text" class="form-control" placeholder="Nama" name="name" value="<%= user.name %>" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="gender" class="form-label">Gender</label><br>
                <input type="radio" name="gender" value="Laki-laki" checked>
                <label for="laki-laki">Laki-laki</label><br>
                <input type="radio" name="gender" value="Perempuan">
                <label for="perempuan">Perempuan</label><br>
              </div>
            <div class="mb-3">
                <label for="birth" class="form-label">Tanggal Lahir</label>
                <div class="row">
                    <input type="date" class="form-control" name="birth" value="<%= user.birth %>" required/>
                </div>
            </div>
            <hr>
            <p style="font-size: 12px;color: red;">*lewati jika tidak ingin mengganti password</p>
            <div class="mb-3">
                <label for="password" class="form-label">New Password</label>
                <div class="row">
                    <input type="password" class="form-control" placeholder="Min 8 characters" name="newPassword">
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Confirm New Password</label>
                <div class="row">
                    <input type="password" class="form-control" placeholder="Same with above" name="confirmPassword">
                </div>
            </div>
            <hr>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <div class="row">
                    <input type="password" class="form-control" placeholder="Please confirm yourself" name="password" required>
                </div>
            </div>
            <input type="hidden" name="idUser" value="<%= user.idUser %>">
            <button type="submit" class="btn btn-primary mb-3">Edit</button>
            </form>
    </div>
    <div class="col-7 text-center">
        <img class="mt-5" src="../illust-5.png" alt="" style="width: 550px; height: 500px;">
      </div>
</div>